.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

body{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
}

*{
	box-sizing: border-box;
}

a img{
	border:none;
}

#mainwrap{
	position: absolute;
	min-height: 100%;
	width: 100%;
}

	.wrapper{
		width:100%;
		max-width:750px;
		margin:0 auto;
		padding:0 15px;
	}

	#header{
		width: 100%;
		font-size:30px;
		padding:20px 0;
		overflow:auto;
	}
		#header h1{
			margin:0;
			padding:0;
			font-size:26px;
			float:left;		
		}
		
		#header h1 a{text-decoration: none; color:#FFF;font-size:26px;}
		
		#header a{
			float:right;
			font-size:16px;
		}

	#footer{
		width: 100%;
		height: 30px;
		position: absolute;
		bottom: 0;
		line-height: 30px;
		text-align:center;
		font-size:.8em;
	}

	#main{
		margin: 30px auto 80px auto;
		display: block;		
	}
	
	#tablero-wrapper {
		float: left;
		width:65%;
		padding:10px;
		margin:0;
		border:#E07408 solid 1px;
	}
		#tablero{
			padding:0;
			margin:0;
			background-color: #FC930A;
			overflow: auto;
		}
		
		#tablero.playing{opacity: 1}
		#tablero.waiting{opacity: .7}
		
		#tablero.finalizada, #tablero.ganador, #tablero.perdedor, #tablero.cobarde{opacity:.7}
		
		#tablero li{
			width:12.5%;
			display: block;
			border:1px solid #ccc;
			float:left;
		}
		
		#tablero li a{
			width: 100%;
			display: block;
			margin: 1px;
		}
		
		#tablero li.blanca, #tablero.playing li.blanca a:hover{
			cursor:default;
			background-color: #FFF;
		}
		
		#tablero li.negra, #tablero.playing li.negra a:hover{
			cursor:default;
			background-color: #000;
		}
		
		#tablero.waiting li a:hover{
			cursor:default;
		}
		
		#tablero.playing li a:hover{
			background-color:#28B0D9; 
		}
		
	#sec{
		width: 35%;
		padding-left:30px;
		float:right;
	}

		#cuenta-fichas{
			border: 1px solid #CCC;
			overflow: auto;
		}
		
		#cuenta-fichas i{
			width:100%;
			display: block;
			font-size:20px;
			font-style: normal;
			text-align: center;
			padding-top:15px;
		}

		#cuenta-fichas .blancas, #cuenta-fichas .negras{
			float:left;
			width:50%;
			text-align: center;
			padding:15px;
		}
			#cuenta-fichas b{
				width: 100%;
				display: block;
				padding-bottom:15px;
			}

	#scoring{
		margin-top:30px;
	}

	#scoring h2{
		padding:0;
		margin:0;	
	}
	
	#scoring b{
		display: block;
		padding-top: 10px;
	}
	
	#salir{
		width:100%;
		margin: 0 auto; 
		margin-top:30px;
		padding:10px;
		text-transform: uppercase;
		text-align: center;
		display: block;
		max-width: 180px;
		font-weight:bold;
		font-size:14px;
		text-decoration:none;	
		
		background-color: #E07408;
		color:#FFFFFF;
		
		-webkit-box-shadow: 0px 1px 3px rgba(20, 20, 20, 0.3);
		   -moz-box-shadow: 0px 1px 3px rgba(20, 20, 20, 0.3);
			    box-shadow: 0px 1px 3px rgba(20, 20, 20, 0.3);				
	}
	
	#salir:hover{
		background-color: #333333;
	}
	
	
@media (max-width : 550px) {
	#tablero-wrapper{
		float: none;
		width:100%;
	}	
	
	#sec{
		margin-top:30px;
		width: 100%;
		padding-left:0;
		float:none;		
	}
	
	#scoring{
		padding:30px;
	}
}

#salir, #tablero li a{
	-webkit-transition: all .2 ease-in-out;
	   -moz-transition: all .2 ease-in-out;
	    -ms-transition: all .2 ease-in-out;
	     -o-transition: all .2 ease-in-out;
	        transition: all .2 ease-in-out;	
}
